@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');


@tailwind base;


/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: white;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background: #555454;
    border-radius: 2px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
    /* border: 3px solid white; */
  }


@tailwind components;
@tailwind utilities;




@layer components{
    .appContainer{
        @apply max-w-[1920px] px-5 md:px-[40px] lg:px-[70px] xl:px-[100px] mx-auto
    }
    .appBtn{
        @apply bg-[#3F6CEE] text-white font-semibold font-Messiri px-4 py-2  flex justify-center items-center hover:bg-white hover:text-[#3F6CEE] duration-200
    }
}


@font-face {
    font-family: "Gobold";
    src: url('./assets/font/GoboldBold.otf');
}
html {
    scroll-behavior: smooth;
  }